@import url("https://fonts.googleapis.com/css?family=Inter:700|Inter:400");

:root {
  --text: #e9f7f7;
  --background: #091f1f;
  --primary: #95e4e6;
  --secondary: #1b9194;
  --accent: #37e0e5;
  --programadores-amanha: #ffd700;
}

body {
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
h4 {
  font-family: "Inter";
  font-weight: 700;
  text-align: center;
  padding: 10px;
}

/* Cabeçalho */

/* Menu Desktop */
.nav-list { 
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
}

header {
  padding: 20px;
}

header nav a {
  color: var(--text);
  text-decoration: none;
  font-weight: 800;
}

.minha-linha {
  border: none;
  height: 0.1px;
  background-color: var(--primary);
  margin: 20px 0;
  width: 100%;
}

/* Sobre mim */
span {
  color: var(--programadores-amanha);
}
#sobre {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

#sobre img {
  width: 250px;
  border-radius: 5%;
  object-fit: cover;
}

/* Projetos */
#projetos {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.grid-projetos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.projeto {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--secondary);
  text-align: center;
}

.projeto img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Contato */
#contato {
  text-align: center;
  padding: 40px 20px;
}

.meu-botao { 
   display: inline-block;
    padding: 10px 20px;
    background-color: var(--secondary);
    color: var(--text);
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Rodapé */

footer {
  text-align: center;
  padding: 20px;
}


/* Menu ham */ 
.menu { 
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: var(--text);
}

/* Responsivo */  

@media (max-width: 768px) {
  .nav-list{ 
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .nav-list.active { 
    display: flex;
  }
  .menu { 
    display: block;
  }
  #sobre {
    flex-direction: column;
    text-align: center;
  }

  #sobre img {
    width: 80%;
    margin-bottom: 20px;
  }
  /*   Navegação do cabeçalho */ 
  header nav { 
    flex-direction: column;
    gap: 10px;
  }

  /* Grid de projetos */
  .grid-projetos {
    grid-template-columns: 1fr;
  }
} 

@media (max-width: 480px) {
  #sobre img {
    width: 150px;
  }
  section{ 
    padding: 20px 10px;
  }
}


